body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-header {
  background-color: whitesmoke;
  color: white;
  padding: 20px;
  position: relative;
}

hr.header-separator {
  border: none;
  border-top: 1px solid #333;
  margin: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-cta {
  margin-top: 32px;
}

.header-cta p {
  margin-bottom: 40px;
  /* Adjust the spacing as needed */
}

.banner-image {
  width: 100%;
  text-align: center;
  margin: 0;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
