<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JobAiro</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/search.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "header.html" %}
    <div><hr class="header-separator" /></div>

    {% block content %}{% endblock %} {% include "footer.html" %}

    <!-- === Auto Refresh Token Script === -->
    <script src="/static/js/auth.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
