<header class="main-header">
  <div class="nav-left">
    <a href="/" class="btn nav-btn">Home</a>
  </div>

  <div class="nav-right">
    {%if user %}
    <span class="btn nav-btn-sign">Welcome, {{user}}!</span>
    <span class="separator">|</span>
    <a href="/auth/logout" class="btn nav-btn">Logout</a>
    {% else %}
    <a href="/auth/login" class="btn nav-btn-sign">Sign In</a>
    <span class="separator">|</span>
    <a href="/auth/admin" class="btn nav-btn">Admin / Job Posting</a>
    {% endif %}
  </div>
</header>
