{% extends "base.html" %} {% block content %}
<header class="main-header">{% include "search_form.html" %}</header>
<div class="banner-image">
  <img src="/static/images/banner.webp" alt="Job Search Banner" />
</div>

<section class="welcome-section">
  <h1>Welcome to JobAiro</h1>
  <p>Your next job is just a search away!</p>
  <p>
    Explore thousands of job listings from top companies and find the perfect
    match for your skills and career goals.
  </p>
  <p>
    Whether you're looking for a full-time position, part-time work, or
    freelance opportunities, JobAiro has something for everyone.
  </p>
  <p>
    Start your job search today and take the next step in your career with
    JobAiro.
  </p>
  <div class="header-cta">
    <p>
      <a href="/auth/login" class="btn btn-primary">Get Started</a>
    </p>
    <p>
      <a href="/auth/admin" class="btn btn-secondary">Post a Job</a>
    </p>
  </div>
</section>
{% endblock %}
