{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/job_details.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {% block content %}

<!-- <h1 style="text-align: center">{{ job.title }} at {{ job.company }}</h1> -->
<div class="job-details-box">
  <div class="job-details-top">
    <div class="title"><p>{{ job.job_title }}</p></div>

    <p>{{ job.company }}</p>
    <div class="job-experience-salary">
      <span>
        <i
          class="fa fa-briefcase"
          style="font-size: 18px; color: rgb(13, 13, 13)"
        ></i>
        {{ job.experience }}
      </span>
      <span class="separator">|</span>
      <span>
        <i
          class="fa fa-money"
          style="font-size: 18px; color: rgb(13, 13, 13)"
        ></i>
        {{ job.salary_range }}
      </span>
    </div>

    <p>
      <i
        class="fa fa-map-marker"
        style="font-size: 18px; color: rgb(13, 13, 13)"
      ></i>
      {{ job.location }}
    </p>

    <div class="job-divider">
      <hr />
    </div>
    <div class="posted-on">
      <p>
        Posted on:
        <span data-posted-at="{{job.posted_at}}"></span>
      </p>
    </div>
  </div>
  <div class="job-details-bottom">
    <div class="title"><p>Job Description</p></div>
    <p><strong>Role & Responsibilities</strong></p>
    <p>{{ job.role }}</p>
    <p>{{ job.responsibilities }}</p>
    <p><strong>Skills/Qualifications:</strong></p>
    <p>{{ job.skills }}</p>
    <p><strong>Role:</strong> {{ job.role }}</p>

    <p><strong>Employment Type:</strong> {{ job.job_type }}</p>
    <p><strong>Education:</strong> {{ job.qualifications }}</p>
    <p><strong>Preference:</strong> {{ job.preferences }}</p>
    <p><strong>Benefits:</strong></p>
    <ul>
      {% for benefit in benefits %}
      <li>{{ benefit }}</li>
      {% endfor %}
    </ul>
    {% if company_profile %}
    <h3>Company Profile</h3>
    <ul>
      {% for key, value in company_profile.items() %}
      <li><strong>{{ key }}:</strong> {{ value }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<div style="text-align: center; padding-top: 20px"><a href="/">Home</a></div>

<script src="/static/js/jobUploadTime.js"></script>
{% endblock %}
