{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %} {% block content %}
<div class="login-container">
  <h2>Login to JobAiro</h2>
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <form action="/auth/login" method="post" class="login-form">
    <input
      type="text"
      name="username"
      placeholder="Username or Email"
      required
    />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </form>
  <p class="signup-text">
    Don’t have an account? <a href="/user/register">Sign up</a>
  </p>
</div>
{% endblock %}
